<h3><%= image_tag("#{@menu.image}", :alt => "", class: "w-25") %></h3><br>
<h3><%= @menu.name %></h3>
<p>￥<%= @menu.price %></p>
<p class="text-secondary"><%= @menu.description %></p>
<div>
  <%= form_with scope: :food, url: "/restaurants/#{@restaurant.id}/menus/#{@menu.id}/carts/#{@cart.id}", method: :patch, local: true do |form| %>
    <div>
      <%= form.hidden_field :price, value: @menu.price %>
      <%= form.label :quantity %>
      <%= form.text_field :quantity, value: @cart.quantity %><br>
    </div>
    <div>
      <%= form.submit "Update Cart" %><br>
    </div>
  <% end %>
</div>