<div class="container-fluid page">
  <h3 class="text-center"><%= @restaurant.name %></h3>
  <% if @menus.any? %>
    <div class="row justify-content-center">
      <% @menus.each do |menu| %>
        <div class="col-9 col-md-9 col-lg-6 pb-3">
          <%= link_to restaurant_menu_path(@restaurant.id, menu.id), class: "text-decoration-none text-dark" do %>
          <div class="p-3 border rounded bg-light mb-2 menu-border">
            <div class="row">
              <div class="col-3">
                <%= image_tag("#{menu.image}", :alt => "", class: "sub-image") %>
              </div>
              <div class="col-9">
                <h4><%= "#{menu.name}" %></h4>
                <p class="text-secondary pt-1"><%= "#{menu.description.gsub(/^(.{50,}?).*$/m,'\1...')}" %></p>
                <p class="mb-2">Price: ￥<%= "#{menu.price}" %>円</p>
              </div>
            </div>
          </div>
        <% end %>
        </div>
      <% end %>
    </div>
  <% else %>
  <p>There are no Restaurants</p>
  <% end %>
</div>
